:root {
    font-size: 16px;
    font-family: SourceSansProRegular, system, system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;

    --bg-light-primary: #fff;
    --bg-dark-primary: #000;


    --text-light-primary: #444;
    --text-light-bold: #36363c;
    --text-light-secondary: #007bff;
    --text-light-tertiary: #717171;
    --text-light-link-highlight: #fff;

    --text-dark-primary: #eee;

    color: var(--text-light-primary);

}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body, main, div, form, input, textarea, label, ul, li, header, nav, a, h1, h2, h3, button, section {
    display: flex;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

strong {
    display: inline-flex;
}

a:focus {
    outline: none;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.site-wrapper {
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.header-wrapper {
    display: flex;
    position: fixed;
    top: 0;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 100vw;
    justify-content: flex-end;
    background: #fff;
    z-index: 3;
}

.header-content-wrapper {

}

header .header-link {
    font-size: 18px;
    margin: 0 15px;
}

.intro-wrapper {
    max-width: 1240px;
    width: calc(100% - 40px);
    height: 80vh;
    padding: 0 20px;
    margin: 100px 130px;
    justify-content: center;
}


.intro-title {
    font-size: 2.5rem;
    font-weight: 300;
}

.intro-headline {
    display: inline;
    font-weight: 300;
    font-size: 2.5rem;
    max-width: 700px;
    line-height: 1.5;
}

.intro-headline strong {
    display: inline;
    font-weight: bold;
}

.intro-contact {
    display: inline;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 32px;
}

.blue-link {
    display: inline;
    position: relative;
    margin-left: 12px;
    margin-right: 12px;
    color: var(--text-light-primary) !important;
    text-decoration: none;
    z-index: 2;
    transition: 0.2s color;
    font-weight: 600;
    word-break: keep-all;
}

.blue-link:after {
    position: absolute;
    content: '';

    width: calc(100% + 10px) !important;
    height: 3px;
    bottom: -3px;
    left: -5px ;
    z-index: -1;
    background: var(--text-light-secondary) !important;
    transition: 0.2s height;
}

.blue-link:hover {
    color: var(--text-light-link-highlight) !important;
}

.blue-link:hover:after {
    height: calc(100% + 6px) !important;
}

.blue-link.project-title {
    position: relative;
    align-self: flex-start;
    margin-left: 0;
}
.blue-link.project-title:after{
    width: calc(100%) !important;
    left: 0;
    transition: 0.2s height, 0.1s width, left 0.1s;
}

.blue-link.project-title:hover:after{
    width: calc(100% + 10px) !important;
    left: -5px;
}

.anchor-link {
    position: absolute;
    top: -100px;
}

section {
    position: relative;
    max-width: 1240px;
    width: 100%;
    margin-bottom: 100px;
    margin-top: 100px;
}

.section-title {
    color: var(--text-light-secondary);
    width: 30%;
    min-width: 30%;
    justify-content: flex-end;
    margin-top: 0;
    margin-right: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}

.section-subtitle {
    margin: 0 0 10px;
    font-weight: 300;
    color: var(--text-light-tertiary);
}

.section-content {
    width: 50%;
}

.background .section-content {
    display: inline;
}

.section-content a {
    position: relative;
    display: inline;
    text-decoration: none;
    color: var(--text-light-primary);
    font-weight: 700;
}

.section-content a:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: var(--text-light-primary);
    opacity: 0;
    transition: 0.2s opacity, 0.2s bottom;
}

.section-content a:hover:after {
    bottom: -4px;
    opacity: 1;
}

.section-content p {
    margin-top: 0;
    font-size: 1.1rem;
    margin-bottom: 25px;
    line-height: 1.5;
    font-weight: 300;
}


.skills .section-content {

}

.skills .col {
    width: 25%;
}

.skill-title, .project-title{
    margin-top: 0;
    text-transform: uppercase;
    color: var(--text-light-bold);
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.skills ul {
    flex-direction: column;
    width: 100% ;
    padding-left: 0;
    margin: 0;
}

.skills li {
    font-weight: 300;
    margin-bottom: 5px;
    font-size: 0.9rem;
}

.project-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.project-content {
    width: 80%;
}

.project-image {
    align-self: flex-start;
    max-width: 35%;
    margin-right: 40px;
}

.project-wrapper>.col {
    margin-bottom: 40px;
}

.contact-form {
    max-width: 400px;
    width: 100%;
    margin-top: 5px;
}

.form-input-label{
    position: relative;
}

.form-input {
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border: none;
    color: var(--text-light-primary);
    font-family: SourceSansProBold, sans-serif;
    font-size: 16px;
}

.form-input:focus{
    outline: none;
}

.form-input-line{
    position: absolute;
    bottom: 20px;
    content: '';
    width: 100%;
    height: 3px;
    background: #007bff;
}

textarea.form-input {
    resize: none;
}

.form-submit {
    appearance: none;
    -webkit-appearance: none;
    align-self: flex-start;
    padding: 10px 25px;
    border: none;
    background: var(--text-light-secondary);
    color:#fff;
    font-family: SourceSansProBold, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--text-light-tertiary);
    font-family: SourceSansProRegular, sans-serif;
    font-weight: 400;
    font-size: 16px;
    opacity: 1; /* Firefox */
}

.contact {
    margin-bottom: 150px;
}

.contact-content p {
    font-size: 16px;
    margin: 0;
}

.contact-text {
    justify-content: center;
    margin-top: 30px;
}


.contact-link {
    align-self: flex-start;
}

.contact-message {
    padding-top: 10px;
}



footer {
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 100%;
    background: #262626;
    justify-content: center;
    align-items: center;
}

.footer-copyright {
    margin: 0;
    color: #717171;
}

@media only screen and (max-width: 700px) {
    .intro-title, .intro-headline {
        font-size: 2rem;
    }

    .intro-wrapper {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .intro-title {
        margin-top: 0;
    }

    section {
        margin-top: 50px;
        margin-bottom: 50px;
        flex-direction: column;
    }

    .section-title {
        width: 100%;
        justify-content: flex-start;
        margin-left: 20px;
        margin-right: 20px;
    }

    .section-content {
        margin-left: 20px;
        margin-right: 20px;
    }

    .section-content {
        width: calc(100% - 40px);
    }

    .project-wrapper {
        margin-left: 20px;
        margin-right: 20px;
    }

    .project-wrapper .section-content {
        margin: 0;
    }

    .contact-content {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media only screen and (max-width: 550px) {
    .header-wrapper {
        display: flex;
        justify-content: center;
        padding-right: 0;
    }

    .intro-contact {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        line-height: 35px;
    }

    .intro-contact a {
        margin-left: 0;
    }

    .skills .section-content {
        flex-wrap: wrap;
    }

    .skills .col {
        width: 50%;
        margin-bottom: 20px;
    }
}

/*===============================
             FONTS
=================================*/
@font-face {
    font-family: SourceSansProRegular;
    src: url("./assets/fonts/SourceSansPro-Regular.ttf");
}


@font-face {
    font-family: SourceSansProLight;
    src: url("./assets/fonts/SourceSansPro-Light.ttf");
}

@font-face {
    font-family: SourceSansProBold;
    src: url("./assets/fonts/SourceSansPro-SemiBold.ttf");
}